/*===============COMMON STYLE===============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/*===============/COMMON STYLE===============*/
/*===============HEADER STYLES===============*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.address-blok {
  display: none;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-color {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current {
    position: relative;
  }

  .menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .address-blok {
    font-style: normal;
    display: block;
  }

  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-address-link:hover,
  .menu-address-link:focus,
  .menu-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .menu-address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*===============/HEADER STYLES===============*/
/*===============SECTION HERO ===============*/
.hero-section {
  margin: auto;
  margin-bottom: 96px;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-servise {
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise:hover,
.order-servise:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 0;
  }

  .main-title {
    max-width: 496px;
  }

  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background@2x.png);
    }
  }
}
/*===============/SECTION HERO ===============*/
/*===============OUR BENEFITS===============*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.icon-benefits {
  display: none;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefits-section {
  padding-bottom: 96px;
}

@media (min-width: 768px) {
  .benefits-list-title {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 2);
  }
}

@media (min-width: 1158px) {
  .icon-benefits {
    display: flex;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .icon {
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  .benefits-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

/*===============/OUR BENEFITS===============*/
/*=================OUR TEAM=================*/

.our-team-container {
  padding: 0 28px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.our-team {
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}

.our-team-list-item-content {
  padding: 32px 0;
}

.our-team-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}

.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-titel {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.our-team-list-item img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.our-team-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0 0 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-list-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-item {
  fill: #f4f4fd;
}

@media screen and (min-width: 756px) {
  .our-team-list-item {
    width: calc((100% - 72px) / 2);
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .our-team-list-item {
    width: calc((100% - 72px) / 4);
  }

  .our-team-list-item-text {
    margin: 0;
  }
}

/*=================/OUR TEAM=================*/
/*===============OUR PORTFOLIO===============*/

.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-description {
  display: none;
}

.portfolio-list-img {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-description {
  transform: translateY(0%);
}

@media screen and (min-width: 756px) {
  .portfolio-list-item {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*===============/OUR PORTFOLIO===============*/
/*===================FOOTER===================*/

.page-footer {
  background-color: #2e2f42;
  padding: 96px 16px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-color-footer {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-icon-footer {
  padding: 72px;
}

.icon-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-list-item-footer {
  width: 40px;
  height: 40px;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

/*-- FOOTER FORM --*/

.footer-form-p {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-container {
  margin-left: 0px;
}

.form-class {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-class {
  display: flex;
  padding-left: 0;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 0 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-class::placeholder {
  color: #ffffff;
}

.button-class {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-class:hover .button-class:focus {
  background-color: #31d0aa;
}

.icon-class {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 756px) {
  /*.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: calc((100% - 10px) / 2);
  }*/
}

@media screen and (min-width: 1158px) {
  /*.page-footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
  }

  
  }*/
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-form-container {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-part-1 {
    margin-right: 120px;
}

