/*===============COMMON STYLE===============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/*===============/COMMON STYLE===============*/
/*===============HEADER STYLES===============*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.address-blok {
  display: none;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-color {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current {
    position: relative;
  }

  .menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .address-blok {
    font-style: normal;
    display: block;
  }

  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-address-link:hover,
  .menu-address-link:focus,
  .menu-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .menu-address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*===============/HEADER STYLES===============*/
/*===============SECTION HERO ===============*/
.hero-section {
  margin: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/BG/BG-mobil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/BG/BG-mobile@2x.png");
  }
}

.main-title {
  max-width: 320px;
  margin-top: 72px;
  margin-right: 52px;
  margin-left: 52px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-servise {
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise:hover,
.order-servise:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/BG/BG-tablet.png);
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 72px auto;
  }

  .order-servise {
    display: block;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    margin-bottom: 116px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 116px;
  }
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/BG/BG-tablet@2x.png");
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/BG/BG-desktop.png);
  }

  .main-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/BG/BG-desktop@2x.png);
  }
}

/*===============/SECTION HERO ===============*/
/*===============OUR BENEFITS===============*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.icon-benefits {
  display: none;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: justify;
}

.benefits-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 768px) {
  .benefits-list-title {
    text-align: left;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-text {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .icon-benefits {
    display: flex;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .icon {
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-list-text {
    font-weight: 400;
  }

  .benefits-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

/*===============/OUR BENEFITS===============*/
/*=================OUR TEAM=================*/

.our-team-container {
  padding: 0 28px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.our-team {
  display: flex;
  background: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}

.our-team-list-item-content {
  padding: 32px 0;
}

.our-team-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}

.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-titel {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.our-team-list-item img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.our-team-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-list-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-item {
  fill: #f4f4fd;
}

@media screen and (min-width: 756px) {
  .our-team-container {
    padding: 0 108px;
  }

  .our-team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .our-team-list {
    gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .our-team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .our-team-container {
    padding: 0 15px;
  }

  .our-team-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/*=================/OUR TEAM=================*/
/*===============OUR PORTFOLIO===============*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-titel {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list-img {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-description {
  transform: translateY(0%);
}

.portfolio-description {
  display: none;
}

@media screen and (min-width: 756px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-description {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item:hover .portfolio-description {
    transform: translateY(0%);
  }
}

/*===============/OUR PORTFOLIO===============*/
/*===================FOOTER===================*/

.page-footer {
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 72px;
  column-gap: 72px;
}

.social-icon-footer,
.footer-form-container {
  text-align: center;
}

.footer-part-1 {
  max-width: 288px;
  margin: 0 auto;
}

.logo-color-footer {
  color: #f4f4fd;
}

.footer-logo {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-decoration: none;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.social-icon-footer {
  width: 208px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-list-item-footer {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.icon-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item {
  fill: #f4f4fd;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

/*-- FOOTER FORM --*/

.footer-form-p {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-container {
  align-items: center;
  justify-content: center;
  width: 288px;
}

.form-class {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.input-class {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-class::placeholder {
  color: #ffffff;
}

.input-class:focus,
.icon-class:hover {
  border-color: #404bbf;
}

.button-class {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-class:hover .button-class:focus {
  background-color: #31d0aa;
}

.icon-class {
  fill: #fff;
  margin-left: 16px;
}

.input-class::placeholder {
  color: #ffffff;
  opacity: 1;
}

@media screen and (min-width: 756px) {
  .footer-container {
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-part-1 {
    max-width: 264px;
    margin: 0;
    text-align: left;
  }

  .footer-logo {
    text-align: left;
  }

  .social {
    text-align: left;
  }

  .social-icon-footer {
    width: 208px;
    text-align: left;
  }

  .footer-form-container {
    margin: 0;
    text-align: left;
  }

  .form-class {
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
  }

  .input-class {
    width: 264px;
  }

  .footer-form-p {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    max-width: 100%;
    height: 312px;
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 15px;
    gap: 0;
  }

  .footer-part-1 {
    max-width: 264px;
    margin-right: 120px;
  }

  .footer-text {
    max-width: 264px;
  }

  .social-icon-footer {
    max-width: 208px;
    margin-right: 80px;
  }

  .form-class {
    gap: 24px;
    flex-direction: row;
    align-items: center;
  }

  .input-class {
    box-shadow: none;
    opacity: 1;
    width: 264px;
  }
}

/*===================/FOOTER==================*/
/*===============MODAL WINDOW STYLE===============*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  box-sizing: border-box;
  padding: 72px 16px 24px 16px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  border: none;
  background-color: #404bbf;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus,
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-icon,
.modal-close-btn:hover,
.modal-close-icon {
  fill: #ffffff;
}

.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-primary, #2e2f42);
  margin-bottom: 16px;
}

.review-form-input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.review-form-input:focus,
.review-form-input:hover {
  border-color: #4d5ae5;
  outline: none;
}

.review-form-comments:hover,
.review-form-comments:focus {
  border-color: #4d5ae5;
  outline: none;
}

.review-form-input-wrapper:hover .review-form-input-icon,
.review-form-input-wrapper:focus-within .review-form-input-icon {
  fill: #4d5ae5;
}

.user-name {
  fill: #8e8f99;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.review-form-field {
  margin-bottom: 8px;
}

.review-form-textarea {
  margin-bottom: 16px;
}

textarea {
  resize: none;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  color: #2e2f42;
  opacity: 0.4;
}

.review-form-checkbox-label {
  display: flex;
  align-items: center;
}

.review-form-custom-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

#user-privacy:checked ~ .priv-label > .box {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
